@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@144,600&family=Manrope:wght@400;700&display=swap');

$font-fraunces: 'Fraunces', serif;
$font-manrope: 'Manrope', sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
