@use '../base/variables/index' as v;
@use '../base/mixins/index' as m;

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$white;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: v.$spacing-1400 v.$spacing-200 0 v.$spacing-200;
  }

  &__image {
    width: 17.5rem; //280px
    height: 17.5rem; //280px

    &-wrapper {
      margin-bottom: -3rem; //-48px
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    padding: v.$spacing-400;
    gap: v.$spacing-400;

    background-color: v.$slate-900;
    color: v.$white;
    text-align: center;
  }

  &__title {
    @include m.text-preset-2;
  }

  &__text {
    @include m.text-preset-4;
  }

  &__bg-pattern {
    display: none;
  }
}

@media (min-width: v.$breakpoint-tablet) {
  .cta {
    &__inner {
      flex-direction: row;
      align-items: flex-start;
      gap: 0;
      padding: v.$spacing-1400 v.$spacing-550 0 v.$spacing-550;
    }

    &__image-wrapper {
      position: relative;
    }

    &__content {
      position: relative;
      align-items: flex-start;
      padding: 3rem; //48px
      margin-left: -6.5rem; //-104px
      margin-top: v.$spacing-2100;
    }

    &__text {
      text-align: left;
    }

    &__bg-pattern {
      display: block;
      position: absolute;
      bottom: -7.1875; //-115px
      right: 5vw;
    }
  }
}

@media (min-width: v.$breakpoint-desktop) {
  .cta {
    &__inner {
      flex-direction: row;
      align-items: flex-start;
      gap: 0;
      max-width: 80rem; //1280px
      padding: v.$spacing-1400 v.$spacing-1000 0 v.$spacing-1000;
    }

    &__image {
      width: 29.8125rem; //477px
      height: 29.8125rem; //477px
    }

    &__content {
      align-items: flex-start;
      padding: v.$spacing-800;
      margin-left: -5.4375rem; //-87px
      margin-top: v.$spacing-2100;
    }

    &__text {
      text-align: left;
    }

    &__bg-pattern {
      position: absolute;
      bottom: -3.75rem; //-60px
      right: 6vw;
    }
  }
}
