@use '../base/variables/index' as v;
@use '../base/mixins/index' as m;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  //gap: 144px;

  &__inner {
    width: 100%;

    background-color: v.$slate-900;
    color: v.$white;
    //position: relative;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 56px 20px 144px 20px;
    
    overflow: hidden;
    line-height: 0;

    @media (min-width: v.$breakpoint-desktop) {
      padding-bottom: 296px;
    }
  }

  &__ornament {
    background-color: v.$slate-900;
    position: absolute;
    //bottom: 0;
    //left: 0;
    width: 100%;
  }

  &__image {
    display: block;
    height: auto;
    z-index: 2;
    
    @include m.hero-image-padding;
    @include m.hero-image-margin-top;

    > img {
      display: block;
      height: auto;
      @include m.hero-image-width;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  &__visual {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  &__title {
    color: v.$white;

    @include m.text-preset-1;

    &--highlight {
      text-decoration-line: underline;
      text-decoration-color: v.$green;
      text-decoration-thickness: 3px;
      text-underline-offset: 6px;
    }
  }
}
