@use '../base/variables/index' as v;
@use '../base/mixins/index' as m;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__inner {
    width: 100%;

    background-color: v.$slate-900;
    color: v.$white;
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: v.$spacing-100;
    padding: v.$spacing-700 v.$spacing-250 v.$spacing-1800 v.$spacing-250;

    overflow: hidden;
    line-height: 0;

    @media (min-width: v.$breakpoint-desktop) {
      padding-bottom: v.$spacing-3700;
    }
  }

  &__ornament {
    background-color: v.$slate-900;
    position: absolute;
    width: 100%;
  }

  &__image {
    display: block;
    height: auto;
    z-index: 2;

    @include m.hero-image-padding;
    @include m.hero-image-margin-top;

    > img {
      display: block;
      height: auto;
      @include m.hero-image-width;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: v.$spacing-500;
  }

  &__visual {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  &__title {
    color: v.$white;
    z-index: 1;
    max-width: 300px;

    @include m.text-preset-1;

    &--highlight {
      text-decoration-line: underline;
      text-decoration-color: v.$green;
      text-decoration-thickness: 3px;
      text-underline-offset: 6px;
    }
  }

  &__bg-pattern {
    display: none;
  }
}

@media (min-width: v.$breakpoint-tablet) {
  .hero {
    overflow-x: hidden;
    position: relative;

    &__title {
      max-width: 370px;
    }

    &__bg-pattern {
      display: inline;
      position: absolute;

      &--left {
        top: 3.4375rem; //55px
        left: -14.0625rem; //-225px
      }

      &--right {
        top: 11.25rem; //180px
        right: -8%;
        transform: none;
        pointer-events: none;
      }
    }
  }
}
@media (min-width: v.$breakpoint-desktop) {
  .hero {

    &__title {
      max-width: 635px;

      &--highlight {
        text-underline-offset: 10px;
      }
    }

    &__bg-pattern {
      &--left {
        top: 8.125rem; //130px
        left: -6.5625rem; //-105px
      }

      &--right {
        top: 19.375rem; //310px
        right: -7%;
        transform: none;
        pointer-events: none;
      }
    }
  }
}
