@use '../base/variables/index' as v;
@use '../base/mixins/index' as m;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__inner {
    width: 100%;

    background-color: v.$slate-900;
    color: v.$white;
    position: relative;
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 56px 20px 144px 20px;

    overflow: hidden;
    line-height: 0;

    @media (min-width: v.$breakpoint-desktop) {
      padding-bottom: 296px;
    }
  }

  &__ornament {
    background-color: v.$slate-900;
    position: absolute;
    width: 100%;
  }

  &__image {
    display: block;
    height: auto;
    z-index: 2;

    @include m.hero-image-padding;
    @include m.hero-image-margin-top;

    > img {
      display: block;
      height: auto;
      @include m.hero-image-width;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  &__visual {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  &__title {
    color: v.$white;
    z-index: 1;

    @include m.text-preset-1;

    &--highlight {
      text-decoration-line: underline;
      text-decoration-color: v.$green;
      text-decoration-thickness: 3px;
      text-underline-offset: 6px;
    }
  }

  &__bg-pattern {
    display: none;
  }
}

@media (min-width: v.$breakpoint-tablet) {
  .hero {
    &__bg-pattern {
      display: inline;
      position: absolute;

      &--left {
        top: 55px;
        left: -225px;
      }

      &--right {
        top: 180px;
        right: -8%;
        right: 0;
        transform: translateX(50%);
        pointer-events: none;
      }
    }
  }
}
@media (min-width: v.$breakpoint-desktop) {
  .hero {
    &__bg-pattern {
      &--left {
        top: 130px;
        left: -105px;
      }

      &--right {
        top: 310px;
        right: 0;
        transform: translateX(50%);
        pointer-events: none;
      }
    }
  }
}
