@use '../variables/typography' as typo;
@use '../variables/breakpoints' as break;

@mixin text-heading-xl {
  @include text-style(
    typo.$font-hanken-grotesk,
    typo.$font-weight-extra-bold,
    56px,
    72px,
    null,
    72px,
    0px
  );
}

@mixin text-heading-l {
  @include text-style(
    typo.$font-hanken-grotesk,
    typo.$font-weight-bold,
    24px,
    32px,
    null,
    null,
    0px
  );
}

@mixin text-heading-m {
  @include text-style(
    typo.$font-hanken-grotesk,
    typo.$font-weight-bold,
    18px,
    24px,
    null,
    null,
    0px
  );
}

@mixin text-body-bold {
  @include text-style(
    typo.$font-hanken-grotesk,
    typo.$font-weight-bold,
    16px,
    18px,
    null,
    null,
    0px
  );
}

@mixin text-body {
  @include text-style(
    typo.$font-hanken-grotesk,
    typo.$font-weight-medium,
    16px,
    18px,
    null,
    null,
    0px
  );
}


@mixin text-style(
  $family,
  $weight,
  $size-mobile,
  $size-tablet: null,
  $size-desktop: null,
  $line-height: null,
  $letter-spacing: null
) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size-mobile;

  @if $line-height != null {
    line-height: $line-height;
  }

  @if $letter-spacing != null {
    letter-spacing: $letter-spacing;
  }

  @if $size-tablet != null {
    @media (min-width: break.$breakpoint-tablet) {
      font-size: $size-tablet;
    }
  }

  @if $size-desktop != null {
    @media (min-width: break.$breakpoint-desktop) {
      font-size: $size-desktop;
    }
  }
}
