@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-preset-1 {
  @include text-style(22px, bold, 120%, 0px);
}

@mixin text-preset-2 {
  @include text-style(15px, null, 140%, 0.2px);

}

@mixin text-style($size, $weight: null, $line-height: null, $letter-spacing: null) {
  font-size: $size;

  @if $weight != null {
    font-weight: $weight;
  }

  @if $line-height != null {
    line-height: $line-height;
  }

  @if $letter-spacing != null {
    letter-spacing: $letter-spacing;
  }
}
