$font-family-outfit: 'Outfit', sans-serif;

$white: hsl(0, 0%, 100%);
$slate-900: hsl(218, 44%, 22%);
$slate-500: hsl(216, 15%, 48%);
$slate-300: hsl(212, 45%, 89%);

$blue-600: hsl(216, 95%, 58%);
$blue-500: hsl(216, 100%, 61%);

$spacing-200: 16px;
$spacing-300: 24px;
$spacing-500: 40px;
