@use '../variables/typography' as typo;

@mixin text-preset-1 {
  @include text-style(typo.$font-fraunces, typo.$font-weight-bold, 32px, 100%);
}

@mixin text-preset-2 {
  @include text-style(typo.$font-montserrat, typo.$font-weight-bold, 14px, 110%);
}

@mixin text-preset-3 {
  @include text-style(typo.$font-montserrat, typo.$font-weight-medium, 14px, 160%);
}

@mixin text-preset-4 {
  @include text-style(typo.$font-montserrat, typo.$font-weight-medium, 12px, 120%, 5px);
}

@mixin text-preset-5 {
  @include text-style(typo.$font-montserrat, typo.$font-weight-medium, 13px, 120%, 0px, line-through);
}

@mixin text-style($family, $weight, $size, $line-height, $letter-spacing: 0, $decoration: null) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;

  @if $decoration != null {
    text-decoration: $decoration;
  }
}
