@use './base/variables/index' as v;
@use './base/mixins/index' as m;
@use './components/header' as *;
@use './components/hero' as *;
@use './components/button' as *;
@use './components/features' as *;
@use './components/cta' as *;
@use './components/footer' as *;

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: v.$slate-100;
}
